<div class="row">
  <div class="col-xs-5">
    <div class="alert alert-info">
      <h5>
        <b>Welcome {{user.firstName|uppercase}} </b>on your PROFILE</h5>
    </div>

    <div class="list-group">
      <a class="list-group-item ">
       First Name : {{user.firstName}}   
      </a>
      <a class="list-group-item ">Last name: {{user.lastName}}
      </a>
      <a class="list-group-item ">Email: {{user.email}}
      </a>
      <a class="list-group-item ">
        Phone number: {{user.phoneNumber}}
      </a>
      <a class="list-group-item ">Is on pause now: {{user.takePauseNow}}
      </a>
      <a class="list-group-item ">Is on pause today {{user.takePauseToday}}
      </a>
      <a class="list-group-item ">
        Finished pause: {{user.endTimeOfThePausa}}
      </a>
      <a class="list-group-item " *ngIf="!user.takePauseToday"> <button class="btn btn-success" (click)="takeBreak()">Take break</button>
      </a>




    </div>
  </div> </div>