<div class="row">
  <div class="col-xs-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>On Pause Now</th>
          <th>On Pause Today</th>
          <th>Finished pause</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let user of users">
          <tr class="table-dark">

            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}5</td>
            <td>{{user.phoneNumber}}</td>
            <td>{{user.takePauseNow}} {{user.endTimeOfThePausa}}</td>
            <td>{{user.takePauseToday}}</td>
            <td>{{user.endTimeOfThePausa}}</td>

          </tr>
        </ng-container>
      </tbody>
    </table>
    <hr>
    Today, {{employeesOnpause}} employees used their pause .
 
<progress-bar [progress]="progress" [color]="'#488aff'">
    </progress-bar>

  </div>


</div>