<div class="row">
    <div class="col-md-3">


        <form #userForm="ngForm">
            <div class="form-group">
                <label for="email">Enter your email</label>
                <input type="text" class="form-control" id="email" [(ngModel)]="user.email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Enter your password</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" (click)="loginUser(user)">Submit</button>
            </div>
        </form>
    </div>
</div>