<div class="row">
    <div class="col-md-3">

        <form [formGroup]="registerForm"(ngSubmit)="saveUser()" >
           
                <div class="form-group">
                    <label for="firstName">FirstName</label>
                    <input type="text" class="form-control" placeholder="Firist Name" formControlName="firstName" (ngModel) ="user.firstName"  >
                
                
                
                
                </div>
             
                <div class="form-group">
                    <label for="lastName">LastName</label>
                    <input type="text" class="form-control"   formControlName="lastName"  >
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" formControlName="email" >
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" formControlName="password" 
                     ngModel 
                    >
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="tel" class="form-control" ormControlName="phoneNumber" >
                </div>

                <div class="form-group">
                    <label for="role">Role</label>
                    <select class="form-control"  formControlName="role"  >
                        <option value="ADMIN">ADMIN</option>
                        <option value="USER">USER</option>
                    </select>
              </div> 
                    <input type="submit" value="Register" class="btn btn-info btn-block" [disabled]="registerForm.valid">
                
          
        </form>


    </div>
</div> 